<!DOCTYPE html>

<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>insight</title>
    <link rel="stylesheet" href="Content/bootstrap.min.css" />
    <link rel="stylesheet" href="css/insight.css" />
</head>
<body>
    @RenderBody()
    <script src="scripts/jquery-1.9.0.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/moment.min.js"></script>
    <script src="scripts/autoNumeric/autoNumeric-1.9.25.min.js"></script>
    <script src="scripts/insight.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/constants/constants.js"></script>
    <script src="scripts/services/api.js"></script>
    <script src="scripts/controllers/items.js"></script>
    <script src="scripts/controllers/ledger.js"></script>
    <script src="scripts/app.js"></script>
</body>
</html>
