<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings>
      <add name="rs" connectionString="mongodb://insightApp:Silky$3Strong@RIG1:27017,RIG1:27018,RIG1:27019/insight?connect=replicaset"/>
    </connectionStrings>
</configuration>