<div ng-controller="ItemsController">
    <ul>
        <li ng-repeat="datum in data">
            <input type="text" ng-model="datum.Name" />
            <select ng-model="datum.FrequencyObject.code" ng-options="f.code as f.name for f in frequencies"></select>
            <input type="number" ng-model="datum.Amount" />
            <input type="number" ng-model="datum.Day" ng-pattern="/^(\+|-)?\d+$/" min="-1" max="31" />
            <a ng-click="DeleteItem(datum)">Delete</a>
        </li>
    </ul>
    <a ng-show="data.length > 0" ng-click="SaveItems(data)">Save</a>

    <ul>
        <li ng-show="data.length > 0">
            <form name="addForm">
                <input type="text" ng-model="add.Name" />
                <select ng-model="add.FrequencyObject.code" ng-options="f.code as f.name for f in frequencies"></select>
                <input type="number" ng-model="add.Amount" />
                <input type="number" ng-model="add.Day" ng-pattern="/^(\+|-)?\d+$/" min="-1" max="31" />
                <a ng-click="AddItem(add)">Add</a>
            </form>
        </li>
    </ul>
</div>




